.team-card {
  min-width: 500px;
}

.team-name {
  color: darkgrey;
  text-shadow: 1px 1px black;
  font-size: 1.5em;
}

.player-name {
  text-align: left !important;
  display: inline-block;
}

.player-score {
  text-align: right !important;
  display: inline-block;
}

.player-content {
  background-color: darkgray;
}

.right-align {
  margin-right: 40px;
  text-shadow: 2px 2px black;
  font-size: 1.5em;
}

.positive-number {
  color: lightblue;
}

.negative-number {
  color: indianred;
}
